<html lang="ja">
<body>
  <div>
    <label for="search-form">配車要求検索</label>
    <input name="search-form" id="search-form" type="text" placeholder="検索キーワードを入力" size="20">
  </div>
  <div>
    <select name="search-result" id="search-result" size="10" ></select>
  </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="module" src="/static/dist/main.js"></script>
  <script type="module" src="/static/dist/jq.js"></script>
</body>
</html>
