<html lang="ja">
<body>
  <label for="search-form">Excel検索</label>
  <input type="text" name="search-form" id="search-form" placeholder="検索キーワードを入力" >
  <div id="search-result" ></div>
  <script type="module" src="/static/main.js"></script>
</body>
</html>
